name: Auto Kids Story Shorts

on:
  schedule:
    - cron: "0 6 * * *"   # Runs daily
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y ffmpeg
          pip install -r requirements.txt

      - name: Run Bot
        run: python main.py
